rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /calls/{callID} {
      // Allow read, update, and delete only on calls with user's auth UID
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.uid;

      // Allow creation of calls only with the UID of the user
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
    }
  }
}
